.add-to-cart {
  display: flex;
  gap: 20px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  background-color: #f7f8fd;
  border-radius: 5px;
}

.quantity-selector button, .quantity-selector input {
  border: none;
  background: none;
  padding: 10px 15px;
  font-size: 16px;
}

.quantity-selector input {
  width: 30px;
  text-align: center;
}

 .add-to-cart-btn {
    background-color:rgb(255, 125, 26);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 45%;
    box-shadow: 10px 10px 30px 2px hsl(26, 100%, 55%);
    transition: box-shadow 0.4s ease; 
    font-weight: bold;
  }
  .add-to-cart-btn:hover {
    box-shadow: none; 
  } 
.cart{
  color: black;
  width: 15px;
  margin-right: 10px;
}
.plus , .minus{
  width: 10px;
}

@media (max-width: 768px) {
 

  .add-to-cart {
      flex-direction: column;
  }
}